.header {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20pt;
}
.infos-supply {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20pt;
}

.account {
  margin-left: 40pt;
}

.form {
  margin-top: 40pt;
}

.transfer {
  margin-top: 20pt;
}

.logo {
  width: 150pt;
  height: 82pt;
  margin-top: 20pt;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
